@media only screen and (max-width: 600px) {

site{
    overflow-x: hidden;
}
body{
    margin: 0px;
    padding: 0px;
    cursor: url('dot_single.png'), auto;
    font-size: 100%;
    font-family: "Arial";
    box-sizing: border-box;
    overflow-x: hidden;
}

html {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

img{
    max-width: 100%;
}

a{
    color: black;
    text-transform: uppercase;
    font-size: max(1vh, 8px);
    font-weight: bold;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.5px;
}

a:hover{
    -webkit-text-fill-color: black;
    -webkit-text-stroke: 0px;
}

h1 {
    white-space: nowrap; 
    overflow-x: hidden;
    font-size: 100%;
    margin: 0px;
    padding: 0px;
    margin-inline-start: -270px;
    font-size: max(2vh, 5px);
}

.flex{
    display: flex;
    flex-direction: column;
    column-gap: 5px;
    position: relative;
    text-align: center;
    width: 100vw;
    height: 100vh;
}

.Header{
    position: fixed;
    text-align: center;
    align-items: center;
    justify-content: center;
    top: 0vh;
    height: 6vh;
    width: 100vw;
    z-index: 100;
}

.Picture{
    top: 6vh;
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
    z-index: 10;
    transition: 500ms linear;
}

.picture-open{
    height: 82vh;
}

.picture-closed{
    height: 6vh;
    transition: 500ms linear;
}

.picBand{    
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 10;
    transform-origin: center, center;
    transition: 500ms linear;
    font-weight: bold;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1.5px; 
    color: rgb(150, 150, 150);
    font-size: max(10vh, 10px);
    width: 100%;
    margin: 0px;
    white-space: nowrap;
}

.picBand:hover{
    -webkit-text-fill-color:black;
}

.picBand-top{
    transform: scale(0.25,0.25);
    height: 0vh;
    transition: 500ms linear;
    -webkit-text-stroke: 3px;
    top: 0vh;
}

.picBand-filled{
    -webkit-text-fill-color:black;
    -webkit-text-stroke: 0px;
}

.picGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
    height: 44vh;
    z-index: 4;
    overflow-y: hidden;
    transition: 500ms linear;
}

.picGrid-flex{
    display: flex;
    position: absolute;
    flex-direction: row;
    z-index: 4;
    height: 44vh;
    overflow-x: hidden;
    transition: 500ms linear;
}

.picGrid-open{
    margin-top: 6vh;
    height: 76vh;
    overflow-y: scroll;
}

.picGrid-closed{
    visibility: hidden;
}


.List{
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 50vh;
    height: 44vh;
    width: 100vw;
    z-index: 100;
    transition: 500ms linear;
    background-color: white;
}

.list-closed{
    top: 88vh;
    height: 6vh;
    transition: 500ms linear;
}

.list-open{
    top: 12vh;
    height: 82vh;
}


.listBand{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 9vh;
    width: 100%;
    z-index: 1000;
    transition: 500ms linear;
    font-weight: bold;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1.5px;
    white-space: nowrap; 
    color: rgb(0, 0, 0);
    margin: 0px;
    font-size: max(20vh, 60px);
}

.listBand-closed{
    top: -8vh;
    transform: scale(0.25,0.25);
    -webkit-text-stroke: 3px;
}

.listBand-filled{
    -webkit-text-fill-color:black;
    -webkit-text-stroke: 0px;
}

.listBand:hover{
    -webkit-text-fill-color:black;
    -webkit-text-stroke: 0px;
}

.listList{
    position: absolute;
    flex-direction: column;
    top: 2vh;
    height: 44vh;
    width: 100vw;
    z-index: 2;
    overflow-x: hidden;
}

.listList-closed{
    visibility:hidden;
}

.listList-open{
    margin-top: 6vh;
    height: 76vh;
    overflow-y: scroll;
}

.Listeneintrag{
    border-bottom: 2px solid rgb(200, 200, 200);
    height: 6vh;
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 1vh;
    margin-right: 1vh;
}

.Listeninfo{
    text-transform: uppercase;
    font-size: max(2vh, 15px);
    font-weight: bold;
    color:rgb(68, 68, 68);
    

}

.pl{
    position: absolute;
    text-align: left;
    left: 1vh;
}

.pm{
    position: relative;
    text-align: center;
    margin: auto;
}

.pr{
    position: absolute;
    text-align: center;
    right: 1vh;
    
}


.About{
    display: flex;
    position: fixed;
    text-align: center;
    justify-content: center;
    top: 94vh;
    height: 6vh;
    width: 100vw;
    z-index: 1000;
    transition: 500ms linear;
    background-color: white;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.75px;
}

.About:hover{
    -webkit-text-fill-color: black;
    -webkit-text-stroke: 0px;
}

.about-open{
    top: 50vh;
    height: 50vh;
    transition: 500ms linear;
    -webkit-text-fill-color: black;
    -webkit-text-stroke: 0px;
}

.aboutText{
    position: fixed;
    top: 56vh;
    margin-top: 5px;
    margin-left: 2vh;
    margin-right: 2vh;
    font-size: 2vh;
    text-transform: uppercase;
    text-align: justify;
    text-align-last: left;
    font-weight: 400;
    visibility: hidden;
}

.aboutText-open{
    visibility: visible;
}

::-webkit-scrollbar {
    width: 0px;
  }
}

@media only screen and (min-width: 600px) {
    
body{
    margin: 0px;
    padding: 0px;
    cursor: url('dot_single.png'), auto;
    font-size: 100%;
    font-family: "Arial";
    box-sizing: border-box;
}

html {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

img{
    max-width: 100%;
}

a{
    color: black;
    text-transform: uppercase;
    font-size: max(2vh, 15px);
    font-weight: bold;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.5px;
}

a:hover{
    -webkit-text-fill-color: black;
    -webkit-text-stroke: 0px;
}

h1 {
    white-space: nowrap; 
    overflow-x: hidden;
    font-size: 100%;
    margin: 0px;
    padding: 0px;
    margin-inline-start: -270px;
    font-size: max(5vh, 15px);
}

.flex{
    display: flex;
    flex-direction: column;
    column-gap: 5px;
    position: relative;
    text-align: center;
    width: 100vw;
    height: 100vh;
}

.Header{
    position: fixed;
    text-align: center;
    align-items: center;
    justify-content: center;
    top: 0vh;
    height: 6vh;
    width: 100vw;
    z-index: 100;
}

.Picture{
    top: 6vh;
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
    z-index: 10;
    transition: 500ms linear;
}

.picture-open{
    height: 82vh;
}

.picture-closed{
    height: 6vh;
    transition: 500ms linear;
}

.picBand{    
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 10;
    transform-origin: center, center;
    transition: 500ms linear;
    font-weight: bold;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1.5px; 
    color: rgb(0, 0, 0);
    font-size: max(20vh, 60px);
    width: 100%;
    margin: 0px;
    white-space: nowrap;
}

.picBand:hover{
    -webkit-text-fill-color:black;
}

.picBand-top{
    transform: scale(0.25,0.25);
    height: 0vh;
    transition: 500ms linear;
    -webkit-text-stroke: 3px;
    top: 0vh;
}

.picBand-filled{
    -webkit-text-fill-color:black;
    -webkit-text-stroke: 0px;
}

.picGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
    height: 44vh;
    z-index: 4;
    overflow-y: hidden;
    transition: 500ms linear;
}

.picGrid-flex{
    display: flex;
    position: absolute;
    flex-direction: row;
    z-index: 4;
    height: 44vh;
    overflow-x: hidden;
    transition: 500ms linear;
}

.picGrid-open{
    margin-top: 6vh;
    height: 76vh;
    overflow-y: scroll;
}

.picGrid-closed{
    visibility: hidden;
}


.List{
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 50vh;
    height: 44vh;
    width: 100vw;
    z-index: 100;
    transition: 500ms linear;
    background-color: white;
}

.list-closed{
    top: 88vh;
    height: 6vh;
    transition: 500ms linear;
}

.list-open{
    top: 12vh;
    height: 82vh;
}


.listBand{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 9vh;
    width: 100%;
    z-index: 1000;
    transition: 500ms linear;
    font-weight: bold;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1.5px;
    white-space: nowrap; 
    color: rgb(0, 0, 0);
    margin: 0px;
    font-size: max(20vh, 60px);
}

.listBand-closed{
    top: -8vh;
    transform: scale(0.25,0.25);
    -webkit-text-stroke: 3px;
}

.listBand-filled{
    -webkit-text-fill-color:black;
    -webkit-text-stroke: 0px;
}

.listBand:hover{
    -webkit-text-fill-color:black;
    -webkit-text-stroke: 0px;
}

.listList{
    position: absolute;
    flex-direction: column;
    top: 2vh;
    height: 44vh;
    width: 100vw;
    z-index: 2;
    overflow-x: hidden;
}

.listList-closed{
    visibility:hidden;
}

.listList-open{
    margin-top: 6vh;
    height: 76vh;
    overflow-y: scroll;
}

.Listeneintrag{
    border-bottom: 2px solid rgb(200, 200, 200);
    height: 6vh;
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 1vh;
    margin-right: 1vh;
}

.Listeninfo{
    text-transform: uppercase;
    font-size: max(2vh, 15px);
    font-weight: bold;
    color:rgb(68, 68, 68);
    

}

.pl{
    position: absolute;
    text-align: left;
    left: 1vh;
}

.pm{
    position: relative;
    text-align: center;
    margin: auto;
}

.pr{
    position: absolute;
    text-align: center;
    right: 1vh;
    
}


.About{
    display: flex;
    position: fixed;
    text-align: center;
    justify-content: center;
    top: 94vh;
    height: 6vh;
    width: 100vw;
    z-index: 1000;
    transition: 500ms linear;
    background-color: white;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.75px;
}

.About:hover{
    -webkit-text-fill-color: black;
    -webkit-text-stroke: 0px;
}

.about-open{
    top: 50vh;
    height: 50vh;
    transition: 500ms linear;
    -webkit-text-fill-color: black;
    -webkit-text-stroke: 0px;
}

.aboutText{
    position: fixed;
    top: 56vh;
    margin-top: 5px;
    margin-left: 2vh;
    margin-right: 2vh;
    font-size: 2vh;
    text-transform: uppercase;
    text-align: justify;
    text-align-last: left;
    font-weight: 400;
    visibility: hidden;
}

.aboutText-open{
    visibility: visible;
}

::-webkit-scrollbar {
    width: 0px;
  }   
}
